
@model Zhuang.Models.SecUser

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout_Main_Tab_Dialog.cshtml";
}


@section scripts{
    <script type="text/javascript">

        jQuery(function () {
            f_InitDialogTitle("@Model.UserId");

            jQuery("#selSex").val('@Model.Sex');


            if ("@Model.UserId")
            {
                jQuery("#LoginName").attr("readonly", "readonly");
                //jQuery("#LoginName").attr("disabled", "disabled");
            }
        });

        function f_DialogSave() {

            var url = '@Url.Content("~/SecuritySettings/User/Save")';

            f_AjaxDialogSave(url, $dg1);

        }

        function f_SelectOrg()
        {
            var url = '@Url.Content("~/SecuritySettings/Organization/Select")';

            f_OpenDialog(url, { maximized: false, width: 500, height: 350, buttons:"" }, 2);
        }
    </script>
}


<form name="edit">
    <table align="center">
        <tr>
            <td>
                用户名：
            </td>
            <td>
                <input type="text" id="LoginName" name="LoginName" value="@Model.LoginName"
                       class="easyui-validatebox textbox" data-options="required:true" />
            </td>
            <td>
                密码：
            </td>
            <td>
                <input type="text" name="Password" value="@Model.Password"
                       class="easyui-validatebox textbox" data-options="required:true" />
            </td>
        </tr>
        <tr>
            <td>
                姓名：
            </td>
            <td>
                <input type="text" name="Name" value="@Model.Name"
                       class="easyui-validatebox textbox" data-options="required:true" />
            </td>
            <td>
                性别：
            </td>
            <td>
                <select class="easyui-combobox" id="selSex" name="Sex" data-options="required:true">
                    <option value="M">男</option>
                    <option value="F">女</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>生日:</td>
            <td>
                <input name="Birthday" class="easyui-datebox" value="@Model.Birthday" 
                       data-options="required:true,editable:false" >
            </td>
            <td>手机号:</td>
            <td>
                <input type="text" name="MobilePhone" value="@Model.MobilePhone"
                       class="easyui-validatebox textbox" />
                
            </td>
        </tr>
        <tr>
            <td>所属组织:</td>
            <td>
                <input type="text" name="OrgName" 
                       class="easyui-validatebox textbox" data-options="required:true" />
            </td>
            <td><input type="button" value="选择组织" onclick="f_SelectOrg()" /></td>
            <td></td>
        </tr>
    </table>
    <div>
        <input type="hidden" name="UserId" value="@Model.UserId" />
    </div>
</form>