@model Zhuang.Security.Models.SecOrganization


@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout_Main_Tab_Dialog.cshtml";
}


@section scripts{
    <script type="text/javascript">

        jQuery(function () {

            f_InitDialogTitle("@Model.OrganizationId");

        });

        function f_DialogSave() {

            var url = '@Url.Content("~/SecuritySettings/Organization/Save")';

            f_AjaxDialogSave(url, $dg1, function () {
                parent.f_ReloadMenuTree();
            });

        }
    </script>
}


<form name="edit">
    <table align="center">

        <tr>
            <td>
                父级菜单：
            </td>
            <td>
                <input type="text" id="ParentName" name="ParentName" value="@ViewBag.ParentName"
                       class="easyui-validatebox textbox" data-options="" readonly="readonly" />
            </td>
        </tr>

        <tr>
            <td>
                部门名：
            </td>
            <td>
                <input type="text" id="Name" name="Name" value="@Model.Name"
                       class="easyui-validatebox textbox" data-options="required:true" />
            </td>

        </tr>
        <tr>
            <td>
                Code：
            </td>
            <td>
                <input type="text" name="Code" value="@Model.Code" style="width:300px"
                       class="easyui-validatebox textbox" data-options="" />
            </td>
        </tr>
    </table>
    <div>
        <input type="hidden" name="MenuId" value="@Model.OrganizationId" />
        <input type="hidden" name="ParentId" value="@Model.ParentId" />
    </div>
</form>
